<div class="index">
	<div class="page-header">
	<h3><%= @user.profile_name.capitalize %></h3>
<hr/>
	<%=image_tag @user.avatar(:thumb), class: "img-circle" %>
	(<%= @user.reviews.count%> reviews)</br>
	
</div>
</div>
<% if @reviews %>
	<% @reviews.each do |review|%>
	<%=review.inspect%>
		<div class="index">
		<h4><%= review.title%></h4> <br />	
		<%= review.content%>		<hr />
		<%= review.venue_id%>
		<%= link_to time_ago_in_words(review.created_at), review_path(review) %> ago
		</div>
	<%end%>
<%end%>



<p>Find me in app/views/profiles/show.html.erb</p>
