<div class="index">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
 
    <legend>About Me</legend>
     <fieldset class="form-edit">
    <div class="row">
      <div class="span3"><%= f.label :email %><br /></div>
      <div class="span6"><%= f.email_field :email, :autofocus => true, :class => "input-block-level" %></div>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  </fieldset>

  <fieldset  class="form-edit">
    <div class="row">
      <div class="span3" style="font-style:bold;color: #8D9AA5;"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br /></div>
      <div class="span6"><%= f.password_field :password, :autocomplete => "off", :class => "input-block-level"  %></div>
    </div>
  </fieldset>

  <fieldset  class="form-edit">
  <div class="row">
    <div class="span3"><%= f.label :password_confirmation %></div>
    <div class="span6"><%= f.password_field :password_confirmation, :class => "input-block-level" %></div>
  </div>
  </fieldset>

  <fieldset  class="form-edit">
    <div class="row">
      <div class="span3"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br /></div>
      <div class="span6"><%= f.password_field :current_password, :class => "input-block-level" %></div>
    </div>
  </fieldset>
</br>
</br>

<fieldset>
<legend>Profile Picture</legend>
<div><%= f.file_field :avatar, :class=>"btn" %></div>
  <% if f.object.avatar? %>
  <div class="control-group">
      <label class="control-label"> Current Avatar</label>
      <div class="controls">
  <%= image_tag f.object.avatar.url, :class => "img-polaroid", size: "140x140"  %>
</div>
</div>
  <% end %>
 
</fieldset>
  <div><%= f.submit "Save changes", :class =>"btn btn-success" %></div>
<% end %>


</br>
</br>

<legend>Cancel my account</legend>

<p>Do you want to cancel your account? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %></p>

<%= link_to "Back", :back %>
</div>
