
<div class="new-page-header">



    <h2>Restrooms</h2>
</div>



 <% @restrooms.each do |restroom| %>
  <div class="media", style="border-bottom: solid 1px #cacaca; padding: 10px;">
    <div class="pull-left">
    <%= link_to (image_tag restroom.image(:small), class: "img-polaroid"), restroom %>
    </div>
    <div class="media-body">
        <h4 class="media-heading"><%=link_to restroom.business_name, restroom%></h4>

    <p><%= truncate restroom.description, length: 290 %></p>
    </div>
    <div class="meta">
        <%= link_to 'Show reviews', restroom %>
        <span class="admin">
            <%= link_to 'Edit', edit_restroom_path(restroom) %> |
            <%= link_to 'Destroy', restroom, method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
    </div>

    </div>
<%end%>

<br />
<br />
<br />
