
<div class="container">
<div class="welcome">
    <% unless signed_in?%>
<div class="container">
<h1 class="welcome-h1">No more dirty restrooms!</h1>
<p class="welcome-p">Restrooms matter to the public. How a business maintains its facilities is a reflection of a business’ commitment to customers. Join today and keep businesses accountable for their restrooms by submitting your ratings and reviews.</p>
<p>
<a class="btn btn-primary btn-large" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.3.2']);" href="assets/bootstrap.zip">Join Today, It's Free</a>
</p>
<%end%>
<ul class="masthead-links">
</div>
</div>


<% @venues.each do |restroom| %>
<div class="row-fluid">
<div class="span12">
    <div class="media">

    <div class="index">
        <h4 class="media-heading"><%=link_to restroom.name, venue_show_path(:venue_id => restroom.id) %></h4>
        <address> <%=restroom.location.address%> </br>
                <%=restroom.location.city%>, <%=restroom.location.state%> <%=restroom.location.postalCode%></br>
                <%=restroom.contact.formattedPhone%>

        </address>
        <div class="review-block">
            <div class="review-icons"><%= rating_for restroom %></div>

        </div>

    <p><div style='clear:both;'><%= truncate restroom.description, length: 290 %></div></p>

</div>
</div>
</div>
</div>
<%end%>

</div>