<div class="new-page-header">
    <h2>Restrooms from venues</h2>
</div>
<% @venues.each do |restroom| %>
<div class="media", style="border-bottom: solid 1px #cacaca; padding: 10px;">

    <div class="media-body">
        <h4 class="media-heading"><%=link_to restroom.name, venue_details_path(:venue_id => restroom.id) %></h4>
        <address> <%=restroom.location.address%> </br>
                <%=restroom.location.city%>, <%=restroom.location.state%> <%=restroom.location.postalCode%></br>
                <%=restroom.contact.formattedPhone%>
        </address>
        <div class="review-block">
            <div class="review-icons"><%= rating_for restroom %></div>

        </div>

    <p><div style='clear:both;'><%= truncate restroom.description, length: 290 %></div></p>

</div>
</div>
<%end%>