
  <div class="col-md-6 col-md-offset-3">
  <div class="index">
    <div class="span11">
      <div class="row">

<div>
      <div style ="float:left;">
              <div>
                <% if notice%>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p id="notice" class= "alert alert-success"><%= notice%></p>
                <%end%>
              </div>    
                
                    <div class="restroom-header">

                      <div class="restroom-rating" style="width:100%;">
                         <h2><%= @venue.name %></h2>
                         <div style="float:left;"><%= rating_for @venue %></div><div><h4><%=@venue.reviews.size%> reviews</h4></div>

                      </div>
                    </div>

                    <div style= "float:left; clear:both;">
                      <address>
                      <%= @venue.address %></br>
                      <%= @venue.city %> <%= @venue.state %></br>
                      <%= @venue.venue_id %> 
                      
                      </address>
                        Category:</br>      
                        <%= "No Category"%>
                      </div>

      </div>


</div>

    <div style= "float:right;">
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=250x250&sensor=false&zoom=17&markers=#{@venue.lat}%2C#{@venue.long}" %>
    </div>

        </div>

  </div>



<%= link_to 'Back', :back %>
</div>

  <div style="float:left;clear:both;">
  <legend style="margin-bottom:10px;">Add your review:</legend>
  <%= simple_form_for ([ @venue, Review.new ]) do |f| %>

  <% if user_signed_in? %>


    <div class="new-comment">
      <div class="row">
          <div class="span1" style="padding-top:10px;">
          <%=image_tag current_user.avatar(:thumb), class: "img-circle"%>
          <%= current_user.profile_name %>
          <p style="font-size:12px;text-align:center;">(<%= current_user.reviews.size%> reviews)</p>
          </div>





        <div class="span8">
          <div class="span6" style="margin-left:0px;">
            <h4>What is your overall rating for this restroom? </h4>
            <%#= rating_for @restroom %>
            <%= rating_for @venue %></br>
          </div>

          <%= f.input :content, label: false, :input_html => {:class =>"span8", rows: 4, :placeholder => "Enter your review here..."}%>
             <div>
              <div class="field" style="width:50%;float:left;">
                <h5>Do you have a photo to share? </h5> 
                <%= f.input :image, label: false %>
              </div>

              <div class="actions", style="float:right;position:relative;">
              <%= f.submit 'Submit your review', :class => 'btn btn-primary' %>
              </div>
            </div>

        </div>

      </div>
    </div>





  <%else%>
   <p>Please <%= link_to "register", new_user_registration_path %> or <%= link_to "log in", new_user_session_path %> to post a review.</p>
  <% end %>

<% end %>
</div>


  <div class="index" style="float:left;clear:both;">
  
  <div class="span11">
    <div class="row">

<h3>Reviews</h3>
<%= render :partial => @venue.reviews.order('id DESC')  %>
</div>

</div>
</div>

</div>
