<div class="well">
  <div class="row">
  <div class="span8">

          <p id="notice"><%= notice %></p>
          
              <div class="restroom-header">

                <div class="restroom-rating">
                   <h2><%= @venue.name %></h2>
                  <%= rating_for @venue %>
                  </br>
                </div>
              </div>

              <div style= "float:left; clear:both;">
                <address>
                <%= @venue.location.address %></br>
                <%= @venue.location.city %> <%= @venue.location.state %> <%= @venue.location.postalCode %> </br>
                <%= @venue.contact.formattedPhone%>
                </address>
              </div>
        </div>
  </div>

<%= link_to 'Back', restrooms_path %>
</div>

  <div style= "float:left; clear:both;">
  <h2>Reviews</h2>
  </div>