


   <div class="comment-section">
   <div class="pull-left">
    <%= link_to (image_tag review.user.avatar(:thumb), class: "img-circle") %>
   </div>
   <div class="comment-cont">
    <div class="bubble">
    <div class="comment-author" style="font-size:16px;">
      <%= link_to review.user.profile_name.capitalize, review.user%>
      (<%= review.user.reviews.count%> reviews)</br>

  </div>
    <div class="media-body">
    <p><%= review.content %></p>
  </div>
 <div style="margin-top:20px;"><%= link_to time_ago_in_words(review.created_at), review_path(review) %> ago</div>
</div>
 
        <div class="review-photos-wrapper">
          <div class="review-photos">
            <% if review.image? %>
                <b>Photos:</b>
            <%= link_to (image_tag review.image(:thumbnail), class: "img-circle") %>
            <% else%>
            <%='No Photos'%>
            <%end%>
          </div>
        </div>

   </div>


  </div>



 