  <div class="media", style="border-bottom: solid 1px #cacaca; padding: 10px;">
  	    <div class="pull-left">
    	<%= link_to (image_tag @restroom.image(:thumbnail), class: "img-circle"), @restroom %>
    	<p>
  		<b>profilename</b></br>
  		<b># of reviews</b></br>
  		<b># of created</b></br>
    	<%= review.try(:user).try(:profile_name) %>
  		</p>
    	</div>

   		<div class="media-body">
    		<h4 class="media-heading"><%= review.title %></h4>
    		<div style='width:auto;'><%= rating_for @restroom %></div>
    		<p><%= review.content %></p>

    		<div class="review-photos-header">
    		<div class="review-photos">
    		<% if review.image? %>
    				<b>Photos:</b>
    		<%= link_to (image_tag review.image(:thumbnail), class: "img-circle") %>
    		<% else%>
    		<%='No Photos'%>
    		<%end%>
    		</div>
    	</div>
    	</div>
    	<div style="float:right;clear:both;border-top: solid 1px #000;margin-top:5px;width:auto;" class='shareaholic-canvas' data-app='share_buttons' data-app-id='14967'></div>

   </div>



 